<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="AddManage_policy">Add and manage policy</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="ViewReqFromUser">View request from users and update status</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="View_Feed">View feedback</a></th>
    </tr>
    <tr>
      <th scope="row"><a href=View_Rating"">View rating</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="ViewClaim_Approve">View claim request and approve</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="ViewCompReply">View complaints and send replies</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">
        <label>
        <input type="submit" name="Submit" value="Login" />
        </label>
      </a></th>
    </tr>
  </table>
</form>
</body>
</html>
